.buttonTheme {
    width: 100%;
    border-radius: 5px;
    border-width: 0 !important;
    padding: 5%;
}

.rightButton {
    text-align: right;
}

.activeButton {
    background-color: #CE4265;
    color: white;
}

.deactiveButton {
    background-color: #ced4da;
    color: #e9ecef;
}